/XamarinLocalNoti/XamarinLocalNoti/XamarinLocalNoti.Android/bin
/XamarinLocalNoti/XamarinLocalNoti/XamarinLocalNoti.Android/obj
/XamarinLocalNoti/XamarinLocalNoti/XamarinLocalNoti/obj
/XamarinLocalNoti/XamarinLocalNoti/XamarinLocalNoti/bin
/XamarinLocalNoti/XamarinLocalNoti/XamarinLocalNoti.iOS/obj
/XamarinLocalNoti/XamarinLocalNoti/XamarinLocalNoti.iOS/bin
